@import "vars";
@import "reset";
@import "mixins";
body {
    font-family: 'Ramabhadra', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 173.5%;
    color: $primary;
    background: $main-bg;
    overflow-x: hidden;
}
*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.container {
    width: 100%;
    max-width: 1610px;
    padding: 0 15px;
    margin: 0 auto;
    // overflow: hidden;
}
/* Blocks */ 
@import "blocks/header";
@import "blocks/intro";
@import "blocks/btns";
@import "blocks/teachers";
@import "blocks/whyus";
@import "blocks/reviews";
@import "blocks/workshops";
@import "blocks/classes";
@import "blocks/plans";
@import "blocks/courses";
@import "blocks/subscribe";
@import "blocks/footer";