.btn {
    padding: 11px 38px;
    display: flex;
    align-items: center;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 19px;
    line-height: 173.5%;
    background: $main-bg;
    border: 1px solid $green;
    color: $primary;
    transition: all .2s linear;
    &-forward {
        margin-left: 12px;
        width: 31.73px;
        height: 15.33px;
        fill: $green;
    }
    &:hover {
        box-shadow: 4px 1px 13px 2px $green;
    }
    &:hover .btn-forward {
        -webkit-filter: drop-shadow(2px 2px 7px $green);
        filter: drop-shadow(2px 2px 7px $green);
    }
    &--classes {
        padding: 11px 34px 11px 35px;
        max-width: 261px;
        height: 55px;
    }
}
.arrow-btn {
    margin-right: 24px;
    padding: 0;
    width: 44.75px;
    height: 25px;
    background-color: transparent;
    border: none;
    opacity: 0.5;
    transform: scale(0.75);
    transition: all .2s linear;
    &__img {
        width: 44.75px;
        height: 25px;
        fill: $green;
        &--left {
            transform: rotate(180deg);
        }
    }    
    &:hover {
        transform: scale(1);
        opacity: 1;
    }
}
.slider-btn {
    margin-left: 29px;
    padding: 0;
    width: 35px;
    height: 35px;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s linear;
    &:nth-child(1) {
        margin-right: 29px;
        margin-left: 0;
    }
    &__img {
        width: 19.76px;
        height: 21.9px;
        fill: $dark-grey; 
        &--left {
            transform: rotate(180deg);
        }      
    } 
    &:hover {
        transform: scale(1.3);
    } 
}
.workshops-item__btn {
    padding: 0;
    width: 280px;
    height: 75px;
    font-family: 'Poppins';
    font-weight: 500;
    border-radius: 10px;
    color: $primary;
    transition: all .2s linear;
    &-img {
        margin-left: 16px;
        width: 31.73px;
        height: 15.33px;
        fill: $green;
    }
    &--green {
        margin-right: 25px;
        padding: 15px 76px 15px 75px;
        background: $green;
        border: 1px solid $green;
        font-weight: 400;
        &:hover {
            box-shadow: 2px 1px 17px 1px $green;
        }
    }
    &--grey {
        padding: 16px 81px;
        background: $additional-bg;
        border: 1px solid $additional-bg;
        &:hover {
            box-shadow: 2px 1px 17px 1px $additional-bg;
        }
    }

}
.sub {
    padding: 15px 114px;
    max-width: 445px;
    background: $green;
    border: 1px solid $green;
    border-radius: 10px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 25px;
    line-height: 181%;
    color: $primary;
}
.courses-btn {
    width: 100%;
    max-width: 280px;
    border: none;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 25px;
    line-height: 181%;
    color: $primary;
    border-radius: 10px;
    cursor: pointer;
    &--green {
        padding: 15px 44px;
        margin-right: 25px;
        background: $green;
    }
    &--grey {
        padding: 16px 81px;
        font-weight: 500;
        line-height: 173.5%;
        background: $additional-bg;
    }
}